@use 'styles/colors';
@use 'styles/spinner';

.root {
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 48px;
	background: colors.$purple;
	border-radius: 8px;
}

.spinner {
	@include spinner.options(18px, 3px, white);
}
