@use 'styles/colors';
@use 'styles/spinner';

.root {
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 48px;
	font-size: 16px;
	font-weight: 900;
	color: white;
	background: colors.$purple;
	border: 2px solid colors.$purple;
	border-radius: 8px;
	transition: color 0.3s, background 0.3s, transform 0.3s;

	&[aria-busy='true'] {
		pointer-events: none;
	}

	&:hover {
		color: colors.$purple;
		background: white;
	}

	&:active {
		transform: translateY(-2px);
	}
}

.icon {
	margin-right: 12px;
}

.spinner {
	@include spinner.options(18px, 3px, white);
}
