@use 'styles/sizes';

$pages-width: sizes.$manage-hackathon-pages-width;

.root {
	display: grid;
	grid:
		calc(100vh - #{sizes.$navbar-height}) /
		#{$pages-width} calc(100vw - #{$pages-width});
}

.main {
	flex-grow: 1;
	overflow-x: hidden;
}
