@use 'styles/colors';
@use 'styles/spinner';

.root {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	font-weight: 900;
}

.save {
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 40px;
	font-size: 16px;
	font-weight: 700;
	color: white;
	background: colors.$blue;
	border-radius: 8px;
	transition: opacity 0.3s;

	&:disabled,
	&[aria-busy='true'] {
		pointer-events: none;
	}

	&:disabled {
		opacity: 0.5;
	}

	&:hover {
		opacity: 0.7;
	}
}

.spinner {
	@include spinner.options(16px, 3px, white);
}
