@use 'styles/colors';

.root {
	display: flex;
	align-items: center;
	text-decoration: none;
	font-size: 36px;
	font-weight: 900;
	color: colors.$purple;
	transition: opacity 0.3s;

	&:hover {
		opacity: 0.7;
	}
}

.icon {
	height: 46px;
	margin-right: 12px;
}
