@use 'styles/sizes';
@use 'styles/z-index';
@use 'styles/colors';

.root {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: sizes.$navbar-height;
	padding: 0 30px;
	background: white;
	border-bottom: 2px solid transparentize(colors.$purple, 0.5);
	z-index: z-index.$navbar;
}

.home {
	flex-shrink: 0;
}
