@use 'styles/spinner';

.root {
	grid-area: summary;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: default;
}

.title {
	font-size: 24px;
	font-weight: 700;
	color: black;
	transition: color 0.3s;

	&:hover {
		color: transparentize(black, 0.5);
	}
}

.count {
	display: inline-flex;
	align-items: center;
	color: transparentize(black, 0.5);
	transition: color 0.3s;

	.title:hover & {
		color: black;
	}
}

.spinner {
	@include spinner.options(18px, 3px, currentColor);

	margin: -2px 0 0 12px;
}
