@use '~react-toastify/dist/ReactToastify';
@use '~balloon-css/src/balloon';

@use 'styles/sizes';

@font-face {
	font-family: OperatorMono;
	font-display: swap;
	src: url('~fonts/OperatorMono.otf') format('opentype');
}

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Inter, Arial, Helvetica, sans-serif !important;
	border: none;
	outline: none;
}

body {
	overscroll-behavior: none;
	padding-top: sizes.$navbar-height;
}

button {
	cursor: pointer;

	&:disabled {
		cursor: default;
	}
}

b,
strong {
	font-weight: bolder;
}

code {
	font-family: OperatorMono, monospace !important;
}

.Toastify__toast {
	padding-left: 16px !important;
	font-family: inherit !important;
	font-weight: 700 !important;
	border-radius: 8px !important;
}
