@use 'styles/colors';

.root {
	display: flex;
	align-items: center;
}

.link {
	display: flex;
	align-items: center;
	text-decoration: none;
	font-weight: 600;
	color: colors.$purple;
	transition: opacity 0.3s;

	&:hover {
		opacity: 0.7;
	}

	& + & {
		margin-left: 30px;
	}
}

.icon {
	display: block;
	max-height: 30px;
	margin-right: 8px;
}
