@use 'styles/sizes';

$pages-width: sizes.$manage-hackathon-pages-width;

.root {
	overflow-y: hidden;

	:global {
		.ck-toolbar-dropdown > .ck-dropdown__panel {
			max-width: calc(100vw - #{$pages-width + 8px}) !important;
		}

		.ck-content {
			height: calc(100vh - #{sizes.$navbar-height + 38.67px}) !important;
		}
	}
}
