@use 'styles/colors';

.root {
	max-width: 600px;
	margin-top: 20px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 4px;
	font-size: 14px;
	color: colors.$black;
}

.title {
	margin-right: 12px;
	font-weight: 800;
}

.count {
	font-weight: 600;
	opacity: 0.6;
}

.value {
	width: 100%;
	padding: 8px 12px;
	resize: none;
	font-size: 16px;
	font-weight: 600;
	color: colors.$black;
	border: 2px solid #ecf1f5;
	border-radius: 8px;
	transition: border-color 0.3s;

	&::placeholder {
		color: transparentize(colors.$black, 0.6);
	}

	&:hover,
	&:focus {
		border-color: colors.$pale-blue;
	}
}
